* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

form {
    width: 96wh;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form > fieldset {
    padding: 20px 40px;
    border: 2px solid black;
}

form legend {
    font-size: 20px;
}

form input[type=text] {
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
}

form input[type=text]:focus, form select {
    outline-color: aqua;
}

form select {
    font-family: Arial;
    width: calc(80% + 26px);
    margin-top: 30px;
    display: inline-block;
    padding: 10px 13px;
}

form select option:nth-of-type(3) {
    color: red;
}

form h2{
    margin-top: 20px;
    font-family: Arial;
}

.input{
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.input span {
    margin-left: 13px;
    font-size: 16px;
    color: aqua;
}

form textarea {
    font-family: Arial;
    margin-top: 30px;
    height: 140px;
    width: 80%;
    padding: 10px 13px;
    resize: none;
}

form input[type=submit] {
    margin-top: 10px;
    width: 140px;
    height: 40px;
    font-size: 18px;
    border: 2px solid black;
    background-color: aqua;
    cursor: pointer;
}