* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
}

.header {
    width: 100%;
    min-width: 1280px;
    height: 200px;
    background: gray;
}
/*A prioridade de widht e hieght sempre será: min > max > (atributo normal)*/
.article {
    margin: 0 auto;   
    width: 1280px;
    height: 20%;
    max-height: 50%;
    background: red;
}